/* universal properties*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* setting rem measuare */
html {
    font-size: 62.5%;
}

:root{
    --red-color: #DB2801;
    --orange-color: #FF6902;
    --button-color: #C21212;
    --grey-color: #c9c9c9;
    --grey-dark-color: #898989;
}

@media (min-width: 1024px) {
    .mainContainer {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
    }
    
    .header {
        width: 100vw;
        height: 8vh;
        background: linear-gradient(to bottom, var(--grey-dark-color), var(--grey-color));
        box-shadow: 0px 10px 15px rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu {
        width: 12rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        background-color: white;
        border-radius: 2.5rem;
        border: 0.3rem solid var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    }
    
    .cardBox {
        position: relative;
        width: 40vw;
        height: 70vh;
        background-color: white;
        border-radius: 2.5rem;
        border: 0.7rem solid var(--button-color);
        top: 5rem;
        left: 80rem;
    }
    
    .title {
        font-family: 'Readex Pro', sans-serif;
        font-size: 2.5rem;
        margin: 4rem auto 0 auto;
        justify-content: center;
        text-align: center;
    }
    
    .form {
        position: relative;
        top: 10rem;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .numberInfo {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        position: relative;
        top: 4.4rem;
        left: 3rem;
    }
    
    .number {
        font-family: 'Readex Pro', sans-serif;
        width: 20rem;
        height: 3rem;
        background-color: var(--grey-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        text-align: center;
        position: relative;
        top: 4.4rem;
        left: 5rem;
    }
    
    .nameInfo {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        position: relative;
        top: 9.8rem;
        left: -33.1rem;
    }
    
    .name {
        font-family: 'Readex Pro', sans-serif;
        width: 25rem;
        height: 3rem;
        background-color: var(--grey-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        text-align: center;
        position: relative;
        top: 6.8rem;
        left: 20.8rem;
    }
    
    .dateInfo {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        position: relative;
        left: -22.2rem;
        top: 12.3rem;
    }
    
    .date {
        font-family: 'Readex Pro', sans-serif;
        width: 8rem;
        height: 3rem;
        background-color: var(--grey-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        text-align: center;
        position: relative;
        top: 12.3rem;
        left: -21.2rem;
    }
    
    .codeInfo {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        position: relative;
        left: 3.1rem;
        top: 14.5rem;
    }
    
    .code {
        font-family: 'Readex Pro', sans-serif;
        width: 6rem;
        height: 3rem;
        background-color: var(--grey-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        text-align: center;
        position: relative;
        top: 14.5rem;
        left: 5rem; 
    }
    
    .idInfo {
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        position: relative;
        left: -19.2rem;
        top: 19.5rem;
    }
    
    .id {
        font-family: 'Readex Pro', sans-serif;
        width: 15rem;
        height: 3rem;
        background-color: var(--grey-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        text-align: center;
        position: relative;
        top: 19.5rem;
        left: -17.5rem; 
    }
    
    .loginBotton {
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background-color: var(--button-color);
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        position: relative;
        top: 25rem;
        left: 21rem;
    }
    
    .itemsBox {
        position: relative;
        width: 53vw;
        height: 40vh;
        background: linear-gradient(to bottom, var(--grey-dark-color), var(--grey-color));
        border-radius: 1rem;
        border: 0.2rem solid black;
        top: -48rem;
        left: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around
    }
    
    .item {
        width: 22rem;
        height: 27rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        background-color: white;
        border-radius: 1rem;
        border: 0.4rem solid var(--button-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alert {
        width: 12rem;
        height: 3rem;
        font-family: 'Readex Pro', sans-serif;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        color: white;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
        border-radius: 1rem;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
        position: relative;
        top: 8rem;
    }

    .info {
        width: 18rem;
        font-family: 'Readex Pro', sans-serif;
        color: black;
        font-size: 2rem;
        text-align: center;
        position: relative;
        top: -5rem;
    }

    .info1 {
        width: 18rem;
        font-family: 'Readex Pro', sans-serif;
        color: black;
        font-size: 2.2rem;
        justify-content: center;
        text-align: center;
        position: relative;
        top: -4rem;
    }

    .bonus {
        position: relative;
        top: 0.5rem;
    }

    .buttonBox {
        position: relative;
        width: 30vw;
        height: 25vh;
        background-color: black;
        border-radius: 1rem;
        top: -45rem;
        left: 2rem;
    }

    .text1 {
        font-family: 'Readex Pro', sans-serif;
        color: white;
        font-size: 3.5rem;
        position: relative;
        top: 1rem;
        left: 2rem;
    }

    .text2 {
        font-family: 'Readex Pro', sans-serif;
        color: white;
        font-size: 2rem;
        position: relative;
        top: 1rem;
        left: 2rem;
    }

    .readBotton {
        width: 13rem;
        height: 4rem;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1.5rem;
        color: white;
        background: linear-gradient(to bottom, var(--orange-color), var(--red-color));
        border-radius: 1rem;
        border: 0.2rem solid var(--button-color);
        position: relative;
        top: 4rem;
        left: 2rem; 
    }

    .miniBox {
        position: relative;
        width: 18vw;
        height: 25vh;
        background-color: black;
        border-radius: 1rem;
        top: -64rem;
        left: 52rem;
    }

    .miniText {
        font-family: 'Readex Pro', sans-serif;
        color: white;
        font-size: 6.3rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 2rem;
    }

    .miniText1 {
        font-family: 'Readex Pro', sans-serif;
        color: white;
        font-size: 2.3rem;
        text-align: center;
        position: relative;
        top: 2.5rem;
    }

    .miniText2 {
        font-family: 'Readex Pro', sans-serif;
        color: white;
        font-size: 2.3rem;
        text-align: center;
        position: relative;
        top: 2.5rem;
    }
}