<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Nodejs Mysql CRUD</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <!-- navigation -->
    <header class="header">
      <button type="button" class="menu">Inicio</button>
      <button type="button" class="menu">Menu</button>
      <button type="button" class="menu">Contactanos</button>
      <button type="button" class="menu">Perfil</button>
      <button type="button" class="menu">configuración</button>
      <button type="button" class="menu">Cuenta</button> 
      <button type="button" class="menu">Ayuda</button>
     <button type="button" class="menu">Salir</button> 
  </header>
  </body>
</html>
